name: New check Streamlit App if its awake

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */1 * * *'

jobs:
  wake-up:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install selenium

      - name: Run Python script to check Streamlit app awake
        run: python check_website.py

      - name: Upload log file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: logfile
          path: logfile.txt
